**python_output_function**

In [ ]:
print("hloo")
print()# this is output function used to display a blank line
print("sunil")

hloo

sunil

In [ ]:
print("sunil")

sunil

In [ ]:
print("welcome to space window")

welcome to space window

In [ ]:
print("sunil","jaswal","india")

sunil jaswal india

In [ ]:
print(10)

10

In [ ]:
print(10.5)

10.5

In [ ]:
print("heloo world")
print("to")
print("helo jaswal")

heloo world
to
helo jaswal

In [ ]:
print("i am doing job in space window")
print()
print("i am data scientis")
print("sunil","jaswal","india")

i am doing job in space window

i am data scientis
sunil jaswal india

In [ ]:
print(type(10.5))

<class 'float'>

In [ ]:
print("i","love","my","india")

i love my india

In [ ]:
print("i","love","my","india",sep=" ")

i love my india

In [ ]:
print("i","love","my","india",sep="")

ilovemyindia

In [ ]:
print("i","love","my","india",sep="***")

i***love***my***india

In [ ]:
print("i","love","my","india",sep="-")

i-love-my-india

In [ ]:
print("i","love","my","india",sep="_")

i_love_my_india

In [ ]:
print("i am doing job in space window",sep="***")

i am doing job in space window

In [ ]:
print("heloo world")#end="\n" by default present in print function
print("to")
print("helo jaswal")

heloo world
to
helo jaswal

In [ ]:
print("heloo world",end="\n")#end="\n" by default present in print function
print("to",end="\n")
print("helo jaswal",end="\n")

heloo world
to
helo jaswal

In [ ]:
print("helooworld",end="")#end="\n" by default present in print function
print("to",end="")
print("helojaswal",end="")

helooworldtohelojaswal

In [ ]:
print("helooworld",end=" ")#end="\n" by default present in print function
print("to",end=" ")
print("helojaswal",end=" ")

helooworld to helojaswal

In [ ]:
print("helooworld",end="\t")#end="\n" by default present in print function
print("to",end="\t")
print("helojaswal",end="\t")

helooworld	to	helojaswal

In [ ]:
a=30
b=40
print(a,b)

30 40

In [ ]:
a=30
b=40
print(a,b,sep=",")

30,40

In [ ]:
name="rahul"
age=62
print("my name is",name,"my age is",age)

my name is rahul my age is 62

In [ ]:
starting_time=time.time()
k=0
while k<10:
  print("I am sunil")
  k+=1
print(f"total_time for While Loop {time.time()-starting_time} seconds")
starting_time2=time.time()
for i in range(10):
  print("Sunil_jaswal")
print(f"total_time for While Loop {time.time()-starting_time2} seconds")
print("another sleep program")
#time.sleep
starting_time=time.time()
k=0
while k<10:
  print("I am sunil")
  time.sleep(3)# i am sunil line print after the two seconds
  k+=1
print(f"total_time for While Loop {time.time()-starting_time} seconds")
starting_time2=time.time()
for i in range(10):
  print("Sunil_jaswal")
print(f"total_time for While Loop {time.time()-starting_time2} seconds")

In [ ]:
a=1
while a<=10:
  print("heloo")

In [ ]:
a=1
while a<=10:
  print("heloo")
  a+=1

**while_loop**

In [ ]:
a=1
while a<=10:
  print("heloo")
  a+=1
print("rest of code")

heloo
heloo
heloo
heloo
heloo
heloo
heloo
heloo
heloo
heloo
rest of code

In [ ]:
a=int(input("enter the number you want to print table"))
b=0
while b<=5:
  print(b*a)
  b=b+1

enter the number you want to print table7
0
7
14
21
28
35

In [ ]:
a=2
i=1
while i<=20:
  print(f"2X{i}={i*a}")
  i=i+2

2X1=2
2X3=6
2X5=10
2X7=14
2X9=18
2X11=22
2X13=26
2X15=30
2X17=34
2X19=38

In [ ]:
import time
a=2
i=1
while i<=20:
  print(f"2X{i}={i*a}")
  time.sleep(3)
  i=i+1

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20
2X11=22
2X12=24
2X13=26
2X14=28
2X15=30
2X16=32
2X17=34
2X18=36
2X19=38
2X20=40

In [ ]:
a=2
while a<=20:
  print(a)
  a+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
a=10
while a>=0:
  print(a*"*")
  a-=1
print("rest of code")

**********
*********
********
*******
******
*****
****
***
**
*

rest of code

**while_else**

**# if while block excute sucessfull in natural way then else block will be excuted otherwise else block does not excute.**

In [ ]:
a=2
while a<=20:
  print(a)
  a=a+1
else:
  print("else condtion become false so else part get excuted")
print(" i learning while loop with else")

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
else condtion become false so else part get excuted
 i learning while loop with else

In [ ]:
a=21
while a<=20:
  print(a)
  a=a+1
else:
  print("else condtion become false so else part get excuted")
print(" i learning while loop with else")

else condtion become false so else part get excuted
 i learning while loop with else

**first two cases we while excute succesfully,,and else block also excuted**

In [ ]:
n=4
i=1
while i<n:
  print(i)
  i=i+1
  if i==3:
    break
else:
  print('this my else block')

1
2

**infinite while loop**

In [ ]:
#false
while False:
  print("hloo")

In [ ]:
#True
while True:
  print("hlooo")

In [ ]:
#True
i=0
while True:

  print("hlooo")
  i=i+1
  if i==5:
    break

hlooo
hlooo
hlooo
hlooo
hlooo

**nested while loop**

In [ ]:
i=1
while i<=3:
  print("outer loop",i)
  i=i+1
  j=0
  while j<=5:
    print("inner loop",j)
    j=j+1
print("nested loop")

outer loop 1
inner loop 0
inner loop 1
inner loop 2
inner loop 3
inner loop 4
inner loop 5
outer loop 2
inner loop 0
inner loop 1
inner loop 2
inner loop 3
inner loop 4
inner loop 5
outer loop 3
inner loop 0
inner loop 1
inner loop 2
inner loop 3
inner loop 4
inner loop 5
nested loop

**for_loop**

In [ ]:
s="sunil"
for i in s:
  print(i)

s
u
n
i
l

In [ ]:
l=[9,8,8,3,"sunil","space","window",45.7,89.0,True,False]
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>

****for_else****

In [ ]:
l=[9,8,8,3,"sunil","space","window",45.7,89.0,True,False]
for i in l:
  print(type(i))
else:
  print("this will excute when for loop excute itself completlity ")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
this will excute when for loop excute itself completlity

In [ ]:
l=[9,8,8,3,"sunil","space","window",45.7,89.0,True,False]
for i in l:
  print(type(i))
  if i==45.7:
    break
else:
  print("this will excute when for loop excute itself completlity ")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>

In [ ]:
l=[9,8,8,3,"sunil","space","window",45.7,89.0,True,False]
for i in l:
  print(type(i))
  if i==45.7:
    continue
  print(i)
else:
  print("this will excute when for loop excute itself completlity ")

<class 'int'>
9
<class 'int'>
8
<class 'int'>
8
<class 'int'>
3
<class 'str'>
sunil
<class 'str'>
space
<class 'str'>
window
<class 'float'>
<class 'float'>
89.0
<class 'bool'>
True
<class 'bool'>
False
this will excute when for loop excute itself completlity

**for loop with range**

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=range(5)
for i in a:
  print(i)

0
1
2
3
4

In [ ]:
a=range(1,5)
for i in a:
  print(i)

1
2
3
4

In [ ]:
a=range(1,10,3)
for i in a:
  print(i)

1
4
7

In [ ]:
a=range(1,10,2)
for i in a:
  print(i)

1
3
5
7
9

In [ ]:
a=range(-1,-10,-2)
for i in a:
  print(i)

-1
-3
-5
-7
-9

In [ ]:
a=range(10,0,-1)
for i in a:
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
s="space window"
a=len(s)
print(a)
for i in range(a):
  print(i,"=",s[i])

12
0 = s
1 = p
2 = a
3 = c
4 = e
5 =
6 = w
7 = i
8 = n
9 = d
10 = o
11 = w

**nested_for_loop**

In [ ]:
for i in range(5):
  print(" helo i am outerlopp",i)
  for j in range(3):
    print(" hey i am inner loop",j)

 helo i am outerlopp 0
 hey i am inner loop 0
 hey i am inner loop 1
 hey i am inner loop 2
 helo i am outerlopp 1
 hey i am inner loop 0
 hey i am inner loop 1
 hey i am inner loop 2
 helo i am outerlopp 2
 hey i am inner loop 0
 hey i am inner loop 1
 hey i am inner loop 2
 helo i am outerlopp 3
 hey i am inner loop 0
 hey i am inner loop 1
 hey i am inner loop 2
 helo i am outerlopp 4
 hey i am inner loop 0
 hey i am inner loop 1
 hey i am inner loop 2

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
len()
find()#if not find -1
count
upper()
lower()
title()
captalize()

In [ ]:
"sunil"*4

'sunilsunilsunilsunil'

While Loop Examples:
# New section

In [1]:
i = 0
while i < 10:
    print(i)
    i += 1
    if i == 5:
        break  # Exit loop when i equals 5

0
1
2
3
4

In [2]:
i = 0
while i < 10:
    i += 1
    if i % 2 != 0:
        continue  # Skip odd numbers
    print(i)

2
4
6
8
10

In [3]:
i = -5
while i < 10:
    if i > 0:
        print("First positive number:", i)
        break  # Exit loop after finding the first positive number
    i += 1

First positive number: 1

In [4]:
while True:
    user_input = input("Enter a positive number: ")
    if not user_input.isdigit() or int(user_input) <= 0:
        print("Invalid input. Please enter a positive number.")
        continue
    print("You entered:", user_input)
    break  # Exit loop if input is valid

Enter a positive number: 2
You entered: 2

In [5]:
while True:
    user_input = input("Enter 'exit' to quit: ")
    if user_input.lower() == 'exit':
        print("Exiting loop...")
        break  # Exit loop if user enters 'exit'
    print("You entered:", user_input)

Enter 'exit' to quit: 34
You entered: 34
Enter 'exit' to quit: exit
Exiting loop...

In [ ]:
# For Loop Examples:

In [6]:
for i in range(10):
    print(i)
    if i == 5:
        break  # Exit loop when i equals 5

0
1
2
3
4
5

In [7]:
for i in range(1, 10):
    if i % 2 != 0:
        continue  # Skip odd numbers
    print(i)

2
4
6
8

In [8]:
for i in range(-5, 10):
    if i > 0:
        print("First positive number:", i)
        break  # Exit loop after finding the first positive number

First positive number: 1

In [9]:
items = [3, 7, -2, 9, 0, -5]
for item in items:
    if item < 0:
        print("Negative item found:", item)
        break  # Exit loop on first negative item

Negative item found: -2

In [10]:
for i in range(3):
    for j in range(3):
        print(i, j)
        if j == 1:
            break  # Exit inner loop when j equals 1

0 0
0 1
1 0
1 1
2 0
2 1